@model IEnumerable<CoreEFCodeFirst.Models.Student>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Index View Stuent</h1>
<p>Hi<p>
